<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.github.gsantner.marowni">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Light">

        <activity
            android:name="io.github.gsantner.marowni.activity.MainActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="io.github.gsantner.marowni.activity.NoteActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.EDIT"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:mimeType="text/plain"
                    android:scheme="file"/>
                <data
                    android:mimeType="application/octet-stream"
                    android:scheme="file"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:mimeType="text/x-markdown"
                    android:scheme="file"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern="*.markdown"
                    android:scheme="file"/>
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern="*.md"
                    android:scheme="file"/>
            </intent-filter>
        </activity>

        <activity
            android:name="io.github.gsantner.marowni.activity.PreviewActivity"
            android:label="@string/preview">
        </activity>

        <activity
            android:name="io.github.gsantner.marowni.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName="io.github.gsantner.marowni.activity.MainActivity"
            android:theme="@style/AppTheme.Light">
        </activity>

        <activity
            android:name="io.github.gsantner.marowni.activity.PinActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="io.github.gsantner.marowni.activity.AlphanumericPinActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="io.github.gsantner.marowni.activity.PromptPinActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="io.github.gsantner.marowni.widget.WidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <receiver android:name="io.github.gsantner.marowni.widget.MarowniWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/marowni_widget"/>
        </receiver>

        <service
            android:name="io.github.gsantner.marowni.widget.FilesWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>
