<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.gsantner.markor"
    tools:targetApi="jelly_bean">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/full_backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.gsantner.markor.activity.MainActivity" />
        </activity>
        <activity android:name=".widget.WidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.MarkorWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/markor_widget" />
        </receiver>

        <service
            android:name=".widget.FilesWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.DocumentActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.gsantner.markor.activity.MainActivity" />


            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="application/octet-stream"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*.md"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*.markdown"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*.mkd"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*.mdown"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*.mkdn"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*.txt"
                    android:scheme="file" />
                <data
                    android:mimeType="text/x-markdown"
                    android:scheme="file" />
                <data
                    android:mimeType="text/plain"
                    android:scheme="file" />
            </intent-filter>
        </activity>
    </application>

</manifest>