<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Jeff Martin" />
        <meta name="description" content="Writeily Pro for Android" />
        <meta name="keywords" content="jeff martin, writeily, writeily pro, pro, app, markdown, android, google, play, text, editor" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }}</title>
        <meta name="viewport" content="width=device-width, minimal-ui">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/slick.css">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    </head>
    <body>

      <div class="site">

        {{ content }}

        <div class="footer">
          <div class="contact">
            <span><a href="http://jeffreymartin.ca/">An app by Jeff Martin</a><br></span>
          </div>
          <div class="contact">
            <span><a href="https://twitter.com/writeily">Follow @writeily on Twitter</a><br></span>
          </div>
          <div class="contact">
            <span><a href="https://github.com/plafue/writeily-pro">Writeily Pro is open-source on Github</a></span>
          </div>
        </div>
      </div>
    </body>
</html>
